<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <title>Sistema Login</title>
</head>
<body>
    <section class="background-login">
        <div class="login-form-container">
            <div class="login-form-container-title">
                <h4>Faça Login</h4>
            </div><!--LOGIN FORM CONTAINER TITLE-->

            <form class="form-login" id="loginForm" action="/" method="post">
                <input type="text" name="user" placeholder="Usuário">
                <input type="password" name="password" placeholder="Senha" autocomplete="off">
                <input type="submit" value="Login" name="acao">
            </form><!--FORM LOGIN-->

            <div id="message-box"></div>

            <div class="register-redirect">
                <span>Ainda não tem conta? <a href="#">Cadastre-se</a></span>
            </div><!--REGISTER REDIRECT-->
        </div><!--LOGIN FORM CONTAINER-->

    </section><!--MAIN BACKGROUND LOGIN-->

    <script src="/js/script.js"></script>

</body>
</html>