<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/style.css">
    <title>Sistema Login</title>
</head>
<body>
    <section style="background-color: #a9ff70; width: 100%; height: 100%;">

    </section>
</body>
</html>